<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, shrink-to-fit=no, width=device-width">
    <title>{% block title %}NordVPN Geolocate{% endblock %}</title>
    <meta name="author" content="ev0x.com">
    <meta name="description" content="Geolocates NordVPN servers that are located in the US.">
    <meta name="keywords" content="geolocate vpn, nordvpn, nordvpn city lookup, web design, web development, web hosting, web design and development, website design, website hosting, private hosting, private server, VPS, dedicated hosting, dedicated server, EVOX Consulting, EVOX web solutions, EVOX, web solutions, web services, domain name, email, laa, network, discount">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/normalize.css@8.0.1/normalize.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/milligram@1.4.1/dist/milligram.min.css">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

    <!-- Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=GA_MEASUREMENT_ID"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-WGXY9EMT3E');
    </script>
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
